[submodule "Externals/TapkuLibrary"]
	path = Externals/TapkuLibrary
	url = git@github.com:devinross/tapkulibrary.git
[submodule "Externals/UIGlossyButton"]
	path = Externals/UIGlossyButton
	url = git@github.com:waterlou/UIGlossyButton.git
[submodule "Externals/ASIHTTPRequest"]
	path = Externals/ASIHTTPRequest
	url = git@github.com:pokeb/asi-http-request.git
[submodule "Externals/MKNetworkKit"]
	path = Externals/MKNetworkKit
	url = git@github.com:MugunthKumar/MKNetworkKit.git
